@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #a28c81;
  --foreground: #ffffff;

  --fontTsuki: "Tsukimi Rounded", sans-serif;
}

.fontTsuki {
  font-family: var(--fontTsuki);
}

.container {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

@media (prefers-color-scheme: black) {
  :root {
    --background: #c7bab3;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: poppins, Helvetica, sans-serif;
}

.transition-content {
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.3s ease;
  max-height: 0;
  opacity: 0;
}

.transition-content.open {
  max-height: 500px;
  opacity: 1;
}

.containerPanel {
  @apply flex flex-col items-center gap-6 px-6;
}

.containerWhite {
  @apply sm:max-w-7xl bg-white p-4 sm:py-10 lg:px-52 rounded-lg shadow-md text-gray-800 mb-14;
}
.containerGray {
  @apply text-sm sm:text-lg text-center  mx-auto bg-amber-950/20 rounded-lg py-5 px-2;
}

.liturgiaDiaria-itens {
  @apply mt-4 flex flex-col;
}
