@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #451a03;
  --foreground: #ffffff;

  --fontTsuki: "Tsukimi Rounded", sans-serif;
}

.fontTsuki {
  font-family: var(--fontTsuki);
}

@media (prefers-color-scheme: black) {
  :root {
    --background: #c7bab3;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: poppins, Helvetica, sans-serif;
}
