@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #a28c81;
  --foreground: #ffffff;

  --fontTsuki: "Tsukimi Rounded", sans-serif;
}

.fontTsuki {
  font-family: var(--fontTsuki);
}

.container {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

@media (prefers-color-scheme: black) {
  :root {
    --background: #c7bab3;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: poppins, Helvetica, sans-serif;
}
